@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.main-header {
  font-family: "Luckiest Guy", cursive;
  margin: 0;
  padding: 0;
}

.nav-links{
  font-weight: 500;
}
